.intruduction {


    height: 550px;
    display: flex;
    align-items: center;

    .home_content {
        margin-top: 70px;
    }
}

.introduction_wrapper {
    display: flex;
    color: #FFF;

    h5 {

        font-family: Work Sans;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 5px;
        text-align: left;
    }

    h4 {

        font-family: "Work Sans", sans-serif;
        font-optical-sizing: auto;
        font-family: Crimson Text;
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
        text-align: left;
    }

    button {
        padding: 7px 40px;
        border: none;
        border-radius: 4px;
    }

    img {
        margin-top: 50px;
    }
}

@media (max-width:992px) {

    .introduction_wrapper {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;


        .home_content {
            margin-top: 0px !important;
        }

        img {
            width: 339px;
            height: 200px;
        }

        .home_content {
            width: 350px;
            margin: 0 auto;
            margin-top: 20px;

            h4 {
                font-size: 28px;
            }
        }
    }
}

.partners {
    margin-top: 50px;

    .partners_wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;

        h5 {
            color: #74C69D;
            letter-spacing: 2px;
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: 5px;
            text-align: center;

        }

        h1 {
            font-size: 40px;
            font-weight: 700;
            line-height: 50px;
            text-align: center;

        }

        p {
            font-family: "Work Sans", sans-serif;
            text-align: center;
            font-size: 20px;
            font-weight: 400;
            line-height: 25px;
            text-align: center;

        }

        .partners_link_wrapper {
            a {
                margin: 25px;
            }
        }

        button {
            margin: 30px 0px;
            color: #FFF;
            background-color: #000;
            padding: 8px 40px;
            border: none;
            border-radius: 4px;
        }
    }
}

@media (max-width:992px) {
    .partners {
        .partners_wrapper {
            width: 375px;
            margin: 0 auto;

            h1 {
                font-size: 24px;
                font-weight: 700;
                line-height: 30px;
                text-align: center;

            }

            p {

                font-size: 20px;
                font-weight: 400;
                line-height: 25px;
                text-align: center;

            }

            .partners_link_wrapper {
                display: flex;
                justify-content: center;
                flex-direction: column;

                a {
                    margin: 20px;

                }
            }
        }
    }
}

.partners_2 {
    margin: 50px 0px;

    .partners_wrapper_2 {
        display: flex;
    }

    .partners_content {
        padding: 100px;

        color: #000;

        h5 {

            font-family: Work Sans;
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: 5px;
            text-align: left;
        }

        h4 {

            font-family: "Work Sans", sans-serif;
            font-optical-sizing: auto;
            font-family: Crimson Text;
            font-size: 40px;
            font-weight: 700;
            line-height: 50px;
            text-align: left;
        }

        button {
            background-color: #000;
            padding: 9px 40px;
            border: none;
            border-radius: 4px;
            color: #FFF;
        }

    }
}

@media (max-width:992px) {

    .partners_wrapper_2_2 {
        margin-top: 50px !important;
        display: flex;
        flex-direction: column-reverse !important;



    }

    .partners_wrapper_2 {

        width: 375px;
        margin: 0 auto;
        flex-direction: column;

        .partners_content {
            margin-top: 20px;
            padding: 0px;
        }

        img {
            height: 240px;
        }

        h4 {
            font-size: 24px !important;
            line-height: 25px !important;
        }

    }
}

.team_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
        margin: 50px;
        background-color: #000;
        padding: 9px 40px;
        border: none;
        border-radius: 4px;
        color: #FFF;
    }

    .team_content {
        h5 {
            color: #74C69D;
            text-align: center;
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: 5px;
            text-align: center;

        }

        h1 {
            font-size: 40px;
            font-weight: 700;
            line-height: 50px;
            text-align: center;

            text-align: center;
        }

        p {
            font-size: 20px;
            font-weight: 400;
            line-height: 25px;
            text-align: center;

            text-align: center;
        }
    }

    .team_members {
        display: flex;

        .member_team {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            margin: 40px;
            width: 252px;
            height: 299px;
            box-shadow: 3px 4px 12px 1px #00000040;

            p {
                margin-top: 15px;
                padding-left: 16px;
                width: 100%;
                color: #212529BF;
            }
        }


    }
}




@media (max-width:992px) {
    .team_members {
        display: flex;
        flex-direction: column;
    }
}